*{
    margin: 0;
    padding: 0;
    
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
   
    max-width: 1200px ;
    padding:20px;   
}
nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    text-decoration: none;    
}
/* logo section */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;  
}
.logo img {
    width: 40px;
    height: 40px;
}
.logo h2 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}
.common-btn{
    background-color: #1D4ED8;
    color:white;
    border:none ;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 12px 10px;
}
/* hero section */
.hero-menu{
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    position: relative;
    
}
.hero-overlay{
    position: absolute;
    inset: 0;
    background: rgba(15, 14, 14, 0.6);
}
.hero-content {
    position: relative;
    z-index: 2;

    max-width: 700px;
   text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.hero-content p{
    font-size: 20px;
    line-height: 1.8;
    max-width: 650px;
    margin-bottom: 50px;
}
.hero-content h1{
    font-size: 72px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
    color: white;
}
.hero-content em{
    font-style: italic;
}
.common-btn.hero-btn{
    background-color: #1D4ED8;
    color:white;
    border:none ;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    padding: 18px 45px;
    font-size: 22px;
    margin-top: 400px;
}

.speaker {
    padding: 80px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.section-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.speaker-card {
    border: 1px solid #dddddd;
    border-radius: 12px;
    overflow: hidden;
}

.speaker-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.category {
    color: blue;
    font-size: 12px;
    margin: 20px 20px 8px;
}

.speaker-card h3 {
    margin: 0 20px;
}

.designation {
    margin: 10px 20px 20px;
    color: gray;
}